<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>THE best gamer is... <%= profile.name %>!</h1>  
  <div class="content-box">
  <% if (isSelf) { %>
    <h2>Add a gamertag!</h2>
    &nbsp;
    <form action="/profiles/gamertags" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      &nbsp;
      &nbsp;
      &nbsp;
      <label for="platform-select">Platform:</label>
      <select name="platform" id="platform-select">
        <option value="Apple">Apple</option>
        <option value="Epic Games">Epic Games</option>
        <option value="Google">Google</option>
        <option value="Nintendo">Nintendo</option>
        <option value="Playstation">Playstation</option>
        <option value="Steam" selected>Steam</option>
        <option value="Ubisoft">Ubisoft</option>
        <option value="Xbox">Xbox</option>
      </select>
      &nbsp;
      &nbsp;
      &nbsp;
      <button type="submit"> Add </button>
      </form>
    <br />
    <% } %>
    <% if (profile.gamertags.length) { %>
      <table id="gamertag-list">
      <% profile.gamertags.forEach(gamertag => { %>
      <tr>
        <td><%= gamertag.platform %>: </td>
        <td><%= gamertag.name %></td>
        <% if (isSelf) { %>
        <td>
          <form 
            action="/profiles/gamertags/<%= gamertag._id %>?_method=DELETE" 
            method="POST"
          >
            <button class="btn" type="submit">X</button>
          </form>
        </td>  
        <% } %>
      </tr>
      <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>