<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit the Review! </h1>
  <main>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >
    </div>
    <% if (isSelf) { %>
        <h2>Add a Game Review!</h2>
        <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <label for="game-select">Game Title:</label>
        <select name="game" id="game-select">
          <option value="<%= review.game._id %>">
            <%= review.game.name %>
          </option>
          <% games.forEach(function(game) { %>
            <option value="<%= game._id %>"><%= game.name %></option>
          <% }) %>
        </select>
        <label for="content-select">Please describe what you liked or disliked from this game!</label>
        <textarea name="content" rows="5"><%= review.content %></textarea><br>
        <label for="rating-select">On a scale of 1-10, what would you rate this game?</label>
        <input 
          type="number"
          name="ratingNo" 
          id="ratingNo-select"
          min="1"
          max="10"
          value="<%= review.rating %>" 
        >
        <label>
          Would you recommend this video game to others?
          <input 
            type="checkbox" 
            name="recommended" 
            <%= review.recommend ? "checked" : "" %> 
          >
        </label>
        <button type="submit">Save Review</button>
      </form>
    <% } %>
  </main>
  
  <%- include('../partials/footer') %>