<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Video Game Reviews! 🎮</h1>
  <% if (user) { %>
    <a href="/reviews/new">
      Add a Review
    </a>
  <% } %>
  <div class="card-container">
    <% reviews.forEach((review) => { %>
      <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
        <div class="card">
          <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar"
          >
          <div class="card-body">
            <h1 class="card-title"><%= profile.name %></h1>
          </div>
        </div>
      </a>
      <div>
        <%= review.recommend ? 'Recommended' : 'Not Recommended' %>
      </div>
      <div>
        <p> POSTED: <%= review.createdAt.toDateString() %> </p>
      </div>
      <div>
        <p> <%= review.content %> </p>
      </div>
      <div>
        <p> Rating: <%= review.rating %> /10 </p>
      </div>
      <% if (review.game.owner.equals(user?.profile._id)) { %>
        <a href="/reviews/<%= review._id %>/edit">
          <button class="btn">Edit this Review</button>
        </a>
        <form 
          action="/review/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
      <% } %>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>