<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Video Game Reviews! 🎮</h1>
  <% if (user) { %>
    <p> Add a Game Review on your Game Details page! </p>
  <% } %>
  <div class="card-container">
    <% reviews.forEach((review) => { %>
      <a class="text-decoration-none">
        <div class="card">
          <img 
            src="<%= review.owner.avatar %>" 
            alt="<%= review.owner.name %>'s avatar"
          >
          <div class="card-body">
            <h1 class="card-title"><%= review.owner.name %></h1>
          </div>
        </div>
      </a>
      <div>
        <h3>
          <%= review.game?.name %>
        </h3>
      </div>
      <div>
        <%= review.recommended ? 'Recommended' : 'Not Recommended' %>
      </div>
      <div>
        <p> POSTED: <%= review.createdAt.toDateString() %> </p>
      </div>
      <div>
        <p> <%= review.content %> </p>
      </div>
      <div>
        <p> Rating: <%= review.rating %> /10 </p>
      </div>
      <% if (review.owner.equals(user?.profile._id)) { %>
        <a href="/reviews/<%= review._id %>/edit">
          <button class="btn">Edit this Review</button>
        </a>
        <form 
          action="/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete Review</button>
        </form>
      <% } %>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>